<div class="container_box">
    <div class="info__flat">
        <h1><%= @flat.name %></h1>
        <h5><%= @flat.address %></h5>
        <img class="info__flat--img" src="<%= @flat.url_photo_flat %>" alt="photo de l'appartement" width=100% height=300>
        <div class="info__flat--details mt-5">
            <div class="info__flat_details--info">
                <h2><%= @flat.address %></h2>
                <p>Info sur l'appartement</p>
                <hr>
                <p><%= @flat.description %></p>
            </div>
            <div class="info__flat_details--reza">
                <%= render "shared/reservation" %>
            </div>
        </div>

        <div class="info__flat--review">
            

        </div>
    </div>
</div>
